/CMakeLists.txt
/files/large1.bwt
/files/large1.rlbPosition
/files/large1.txt
/files/large2.bwt
/files/large2.rlbPosition
/files/large2.txt
/cmake-build-debug/
/.idea/
/files/small*.rlbPosition-*
/files/medium*.rlbPosition-*